.blog{
    width: 100%;
    /* height: 800px; */
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    margin-bottom: 57px;
}

.blog-img-container{
    width: 100%;
    margin-bottom: 25px;
}

.blog-img-container img{
    width: 100%;
}

.blog-info-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.author-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.author-img-container{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.author-img-container img{
    width: 100%;
    border-radius: 50%;
}

.reading-time-container{
    display: flex;
    align-items: center;
}

.reading-time-container p{
    margin-right: 10px;
}

.blog-title{
font-size: 35px;
line-height: 160%;
color: #111111;
margin-bottom: 16px;
}

.hash-tag{
font-size: 20px;
font-weight: 500 !important;
line-height: 160%;
color: rgba(17, 17, 17, 0.6);
margin-bottom: 25px;
}

.mark-read{
    font-size: 20px;
    line-height: 24px;
    text-decoration: underline;
    color: #6047EC;
    margin-bottom: 40px;
}